streamlit
pandas
numpy
matplotlib
seaborn
scipy
scikit-learn
statsmodels
openpyxl
xlrd
pyxlsb
mitosheet
markitdown
streamlit-ace
python-docx
python-pptx
plotly
streamlit-aggrid
pyarrow
pillow
streamlit>=1.53.0
Authlib>=1.3.2
requests